body {
  background-color: #282c34;
  color: #ffffffdd;
}

p {
  margin : 2px;
}

button, .button {
  transition: background-color 0.5s;
  position: relative;
  font-size: 1em;
  padding: 10px;
  border: 1px solid #000000;
  background-color: #00000022;
  color: #ffffff;
  box-shadow: 2px 1px 1px #00000066;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
}

button:hover, .button:hover {
  background-color: #ffffff11;
}

button:active, .button:active {
  left: 2px;
  top: 1px;
  box-shadow: none;
}

.flag {
  position: absolute;
  right: -10%;
  bottom: -100%;
  z-index: -1;
  font-size: 30em;
  opacity: .1;
  filter: blur(10px);
}

.warning {
  font-size: .8em;
  color: #ff4444dd;
}

.button-block {
  position: absolute;
  right: 10px;
  bottom: 10px
}

.visitor {
  position: absolute;
}

.basic-div {
  position: relative;
  background-color: #333333cc;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 6px 4px 4px #00000066;
  overflow: hidden;
  backdrop-filter: blur(10px);
  --webkit-backdrop-filter: blur(10px);
  --moz-backdrop-filter: blur(10px);
}

.hidden {
  color: #ffffff33;
}

.absolute {
  transition: all 0.2s;
  position: absolute;
  background-color: #000000dd;
  color: #ffffff44;
  border-radius: 5px;
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 0;
}

.absolute:hover {
  background-color: #333333dd;
}

.absolute:active {
  z-index: 10;
  left: 0 !important;
  right: 0 !important;
}

.container {
  position: relative;
  margin: 20px;
  height: 100%;
}